<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Roles</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li
            class="breadcrumb-item"
            [routerLink]="['/']"
            routerLinkActive="router-link-active"
          >
            <a href="#">Inicio</a>
          </li>
          <li class="breadcrumb-item active">Roles</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <button
          mat-button
          class="btn btn-success"
          [routerLink]="['/roles/crear']"
          routerLinkActive="router-link-active"
        >
          Crear Rol
        </button>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table
          datatable
          [dtOptions]="dtOptions"
          class="table table-bordered table-striped"
        >
          <thead>
            <tr>
              <th>Id</th>
              <th>Descripcion</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rol of roles">
              <td>{{ rol.id }}</td>
              <td>{{ rol.descripcion }}</td>
              <td>
                <a
                  [routerLink]="['/roles/', rol.id, 'editar']"
                  routerLinkActive="router-link-active"
                  class="btn btn-info"
                  style="margin-right: 5px;"
                  ><i class="fas fa-pencil-alt"></i
                ></a>
                <button
                  class="btn btn-danger"
                  mwlConfirmationPopover
                  [popoverTitle]="popoverTitle"
                  [popoverMessage]="popoverMessage"
                  placement="left"
                  (confirm)="delete(rol.id)"
                  (cancel)="cancelClicked = true"
                >
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
